<%- include("../partials/header") %>
<div class="banner" style="background-image: url('<%= campground.image %>');"></div>

<div class="container nav-space">
    <div class="row show-border">

        <!-- SIDE BAR -->
        <div class="col-3">
            <div id="map"></div>
        </div>
        <!--  -->

        <div class="col-9">
            <div class="card mb-2 shadow-sm">
                <img class="card-img-top img-responsive" src="<%= campground.image %>">
                <div class="card-body">
                    <h6 class="card-subtitle text-muted float-right">$<%= campground.price %>/night</h6>
                    <h4 class="card-title">
                        <a><%= campground.name %></a>
                    </h4>
                    <p>
                        <em>Submitted by <%= campground.author.username %></em>
                    </p>

                    <hr>

                    <p class="card-text"><%= campground.description %></p>
                    <% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
                    <div class="btn-group" role="group">
                        <a href="/campgrounds/<%= campground._id %>/edit">
                            <button class="btn btn-outline-warning">Edit</button>
                        </a>
                        <form class="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE"
                            method="POST">
                            <button class="btn btn-outline-danger">Delete</button>
                        </form>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card" style="border: 0;">
                <div class="text-right">
                    <a class="btn btn-primary" href="/campgrounds/<%= campground._id %>/comments/new">Add New
                        Comment</a>
                </div>
                <% campground.comments.forEach(function(comment){ %>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-header" style="border:0;">
                            <strong><%= comment.author.username %></strong>
                        </div>
                        <div class="card-body mb-3">
                            <span class="float-right text-muted">10 days ago</span>
                            <p class="card-text">
                                <%= comment.text %>
                            </p>
                            <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                            <div class="btn-group" role="group">
                                <a href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">
                                    <button class="btn btn-sm btn-outline-warning">Edit</button>
                                </a>
                                <form class="delete-form"
                                    action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE"
                                    method=POST>
                                    <button class="btn btn-sm btn-outline-danger">Delete</button>
                                </form>
                            </div>
                            <% } %>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>
            <hr>
        </div>
    </div>
</div>

<script>
    function initMap() {
        var lat = <%= campground.lat %>;
        var lng = <%= campground.lng %>;
        var center = { lat: lat, lng: lng };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 8,
            center: center,
            scrollwheel: true
        });
        var contentString = `
        <strong><%= campground.name %><br />
        <%= campground.location %></strong>
        <p><%= campground.description %></p>
        `
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });
        var marker = new google.maps.Marker({
            position: center,
            map: map
        });
        marker.addListener('click', () => {
            infowindow.open(map, marker);
        });
    }
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1d57Qu4t0t9mPTrM46rtd0Vdpg0XUC9M&callback=initMap"></script>

<%- include("../partials/footer") %>